#displaySpots{
    display: flex;
    justify-content: space-around;
    padding-left:100px;
    padding-right: 100px;
    flex-wrap: wrap;
}

#spotBlock {
    max-width: 350px;
    padding: 10px;
    display: Grid;
    row-gap: 10px;
    grid-template-columns: 175px 175px;
    grid-template-rows: 350px 1em 1em;
    grid-template-areas:
        'image image'
        'cityState starRate'
        'price .'
    ;
}


#price {
    grid-area: price;
}

#starRating {
    grid-area: starRate;
    justify-self: end;
}

#cityState {
    grid-area: cityState;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#preImage {
    grid-area: image;
    max-height: 350px;
    max-width: 350px;
    border: 1px solid black;
    border-radius: 18px;

}
